
<ul class="breadcrumb">
  <li>
    Review possible duplicates
  </li>
</ul>

<div ng-hide="hasPairing()">
  <div class="wait-screen">
    <div class="spinner">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
    <p>Please wait, finding possible duplicates...</p>
  </div>
</div>

<div ng-show="hasPairing()">
  <h3 class="page-header">
    Are these two entities the same?
    <small ng-show="pairing.pairing.score">{{pairing.pairing.score}}% match</small>
  </h3>

  <div class="row">
    <div class="col-sm-6">
      <nk-pairing-item schema="schema" entity="pairing.left"></nk-pairing-item>
    </div>
    <div class="col-sm-6">
      <nk-pairing-item schema="schema" entity="pairing.right"></nk-pairing-item>
    </div>
  </div>

  <div class="center-box">
    <button type="submit" class="btn btn-success btn-lg" ng-click="decide(true)">
        <i class="fa fa-check"></i> The same <small>(press x)</small></button>
    <button type="submit" class="btn btn-danger btn-lg" ng-click="decide(false)">
        <i class="fa fa-times"></i> Not the same <small>(press n)</small></button>
  </div>
</div>

<div class="help-block">
  <!--Keyboard controls: 'x' for the same, 'n' for not the same.-->
</div>
