<ul class="breadcrumb hidden-xs">
  <li>
    Settings
  </li>
</ul>

<div class="row">
  <div class="col-xs-12">
    <table class="table table-condensed">
      <tr>
        <th>Users who have access</th>
        <th>Read</th>
        <th>Write</th>
        <th>Admin</th>
        <th>No&nbsp;access</th>
      </tr>
      <tr ng-repeat="user in users.results">
        <td>{{user.display_name}}</td>
        <td>
          <input type="radio" name="role.{{user.id}}" ng-model="user.system_role" value="read"
            ng-change="roleChange(user)" ng-hide="readonlyRole(user)">
        </td>
        <td>
          <input type="radio" name="role.{{user.id}}" ng-model="user.system_role" value="edit"
            ng-change="roleChange(user)" ng-hide="readonlyRole(user)">
        </td>
        <td>
          <input type="radio" name="role.{{user.id}}" ng-model="user.system_role" value="manage"
            ng-change="roleChange(user)" ng-hide="readonlyRole(user)">
        </td>
        <td>
          <input type="radio" name="role.{{user.id}}" ng-model="user.system_role" value="none"
            ng-change="roleChange(user)" ng-hide="readonlyRole(user)">
        </td>
      </tr>
    </table>
  </div>
</div>

