<ul class="breadcrumb">
  <li>
    <a href="/entities/{{entity.id}}">{{entity.label}}</a>
  </li>
</ul>

<h2 class="page-header">
  {{entity.label}}
  <div class="btn-group pull-right">
    <!-- TODO: enrich -->
  </div>
</h2>

<div ng-show="entity.same_as" class="alert alert-info">
    <span>{{entity.label}}</span> is an alias name for 
    <a ng-href="/entities/{{entity.same_as.id}}">{{entity.same_as.label}}</a>.
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <table class="table table-condensed">
      <tr>
        <th colspan="2">Attributes <span class="explainer">additional data</span></th>
      </tr>
      <tr ng-repeat="(key, value) in entity" ng-show="value">
        <th>{{schema.attributes[key].label || key}}</th>
        <td>{{value}}</td>
      </tr>
    </table>
  </div>
  <div class="col-xs-12 col-md-6">
  </div>
</div>
