// Core variables and mixins
@import "../vendor/bootstrap/less/variables.less";
@import "../vendor/bootstrap/less/mixins.less";

// Style tiles, Colours
@main-color: #c0392b;

@white: #ffffff;
@border-color: #d7d7d7;
@boxed-color: #fafafa;
@brand-primary: @main-color;
@loading-bar-color: @main-color;

// Style tiles, Fonts
@font-default: 'Lato', sans-serif;

// Reset
@import "../vendor/bootstrap/less/normalize.less";
@import "../vendor/bootstrap/less/print.less";

// Core CSS
@import "../vendor/bootstrap/less/scaffolding.less";
@import "../vendor/bootstrap/less/type.less";
@import "../vendor/bootstrap/less/code.less";
@import "../vendor/bootstrap/less/grid.less";
@import "../vendor/bootstrap/less/tables.less";
@import "../vendor/bootstrap/less/forms.less";
@import "../vendor/bootstrap/less/buttons.less";

// Components
@import "../vendor/bootstrap/less/component-animations.less";
@import "../vendor/bootstrap/less/glyphicons.less";
@import "../vendor/bootstrap/less/dropdowns.less";
@import "../vendor/bootstrap/less/button-groups.less";
@import "../vendor/bootstrap/less/input-groups.less";
@import "../vendor/bootstrap/less/navs.less";
@import "../vendor/bootstrap/less/navbar.less";
@import "../vendor/bootstrap/less/breadcrumbs.less";
@import "../vendor/bootstrap/less/pagination.less";
@import "../vendor/bootstrap/less/pager.less";
@import "../vendor/bootstrap/less/labels.less";
@import "../vendor/bootstrap/less/badges.less";
@import "../vendor/bootstrap/less/jumbotron.less";
@import "../vendor/bootstrap/less/thumbnails.less";
@import "../vendor/bootstrap/less/alerts.less";
@import "../vendor/bootstrap/less/progress-bars.less";
@import "../vendor/bootstrap/less/media.less";
@import "../vendor/bootstrap/less/list-group.less";
@import "../vendor/bootstrap/less/panels.less";
@import "../vendor/bootstrap/less/wells.less";
@import "../vendor/bootstrap/less/close.less";

// Components w/ JavaScript
@import "../vendor/bootstrap/less/modals.less";
@import "../vendor/bootstrap/less/tooltip.less";
@import "../vendor/bootstrap/less/popovers.less";
@import "../vendor/bootstrap/less/carousel.less";

// Utility classes
@import "../vendor/bootstrap/less/utilities.less";
@import "../vendor/bootstrap/less/responsive-utilities.less";

@import "loader.less";

// Modal backdrop workaround:
html { height: 100%; }
body { min-height: 100%; }
.modal-backdrop { bottom: 0; }

// Angular ugliness fix 
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  font-family: @font-default;
  font-weight: 300;
  font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @font-default;
  font-weight: 300;
}

#page {
  background-color: #fff;
  //padding: 0 0 2em 0;
}

#airlock {
  //padding-top: 1em;
  //position: relative;
}

.hidden {
  display: none;
}

a, a:hover {
  color: @brand-primary;
  cursor: pointer;
}

.explainer {
  font-size: 0.9em;
  color: #999;
}

label, .radio label, .checkbox label {
  font-weight: 300;
}

th .form-group, td .form-group {
  margin: 0;
  padding: 0;
}

th {
  vertical-align: middle;
}

.structured {
  color: lighten(black, 20%);
  font-family: 'Droid Sans Mono', monospace;
  font-size: 0.8em;
  background-color: darken(white, 3%);
  padding: 0 2px 0 2px;
  white-space: pre-wrap;
}

.btn.btn-default {
  background-color: @main-color;
  border: 1px solid white;
  color: white;
  font-weight: 300;
}

.btn.btn-default:hover {
  background-color: lighten(@main-color, 10%);
}

.jumbotron {
  background-color: @main-color;

  .text {
    color: white;
  }
}

.pagination {
  margin: 0;

  .active > a,
  .active > span,
  .active > a:hover,
  .active > span:hover,
  .active > a:focus,
  .active > span:focus {
    background-color: @brand-primary;
    border-color: @brand-primary;
  }
}

.breadcrumb > li + li:before {
    content: "> ";
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: @main-color;
}

body.modal-open {
  margin-right: 0px;
}

#menu {
  background-image: none;
  background-color: white;

  .navbar-brand {
    font-size: 1.5em;
    font-weight: 300;
    color: lighten(@main-color, 20%);
    color: @main-color;
  }
}

footer {
  border-top: 1px solid #dddddd;
  padding: 2em 0 2em 0;

  a {
    color: @brand-primary;
  }

  p {
    text-align: center;
  }
}

table td.num {
  text-align: right;
}

.pagination.pagination-cursors a {
    cursor: pointer;
}

table .pager {
    margin-bottom: 0;
}

table .pager ul {
    margin-left: 0;
}

table input[type="text"] {
    margin-bottom: 0px;
}

ul.api-list li {
  margin-bottom: 0.5em;
}

code {
  font-size: 10px;
}

.docs {
  font-size: 1.2em;
}

.docs h1, .docs h2, .docs h3, .docs h4 {
  font-weight: 700;
}

.docs pre {
  background-color: #555;
  color: #ddd;
}

.docs code {
  font-size: 0.8em;
  color: #555;
}

.docs pre.call {
  m-argin-top: 2em;
}
