<ul class="breadcrumb hidden-xs">
  <li>
    <a href="/datasets/{{dataset.slug}}">{{dataset.label}}</a>
  </li>
  <li>
    Import: {{upload.source.name}}
  </li>
</ul>

<form class="form-horizontal" role="form" name="importsForm" ng-submit="import(importsForm)">

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="form-group" ng-class="{'has-error': importsForm.publisher.$invalid}">
        <label class="col-sm-3 control-label" for="publisher">Publisher</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="publisher" name="publisher" ng-model="context.publisher" placeholder="Publisher Organisation">
          <p class="help-block" ng-show="importsForm.publisher.$invalid" ng-bind="importsForm.publisher.$message"></p>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': importsForm.publisher_url.$invalid}">
        <label class="col-sm-3 control-label" for="publisher_url">Publisher URL</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="publisher_url" name="source_url" ng-model="context.publisher_url" placeholder="http://publisher-organisation.org">
          <p class="help-block" ng-show="importsForm.publisher_url.$invalid" ng-bind="importsForm.publisher_url.$message"></p>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="form-group" ng-class="{'has-error': importsForm.source_url.$invalid}">
        <label class="col-sm-3 control-label" for="source_url">Source URL</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="source_url" name="source_url" ng-model="context.source_url" placeholder="http://location.of/the-data.xls">
          <p class="help-block" ng-show="importsForm.source_url.$invalid" ng-bind="importsForm.source_url.$message"></p>
          <p class="help-block">
            Please provide a URL for the actual data file, as well as the name and web
            site URL for the organisation that published this data.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div ng-hide="hasTable" class="alert alert-info">
    <i class="fa fa-spinner fa-pulse"></i>
    <strong>Data is being extracted.</strong> Please wait while the source data
    is extracted from the file you provided. Once it has been read, you will be
    asked to define how it should be imported.
  </div>

  <div class="row" ng-show="hasTable">
    <div class="col-xs-12">
      <hr/>
      <entity-mapping schema="schema" mapping="mapping" fields="upload.table.fields">
      </entity-mapping>
      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <div class="col-xs-12">
          <button type="submit"
            class="pull-right btn btn-primary"
            ng-disabled="!canImport()">Import {{upload.table.num_records}} records</button>
          <a ng-click="save(importsForm)" class="pull-right btn btn-default">Save</a>
        </div>
      </div>
    </div>
  </div>
</form>
